
.log{
  /* background-image:image(); */
  background-repeat: repeat-y;
  background-size: cover;
  
}
.log { width: 100%; height: 100vh; background-color: #ffffff; display: flex; justify-content: center; align-items: center; }
 .outlet { width: 100%; max-width: 400px; box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1); padding: 30px; border-radius: 10px; }
  .item { width: 100%; } .item label { font-size: 14px; color: #777777; } 
  .item input { width: 100%; padding: 8px; margin: 5px 0; box-sizing: border-box; border: 1px solid #ddd; border-radius: 5px; }
   .item button { margin: 10px 0px;     width: 100%; padding: 10px; background-color: #4CAF50; color: white; border: none; border-radius: 5px; cursor: pointer; font-size: 16px; }
    .item button:hover { background-color: #45a049; } .item p { margin: 10px 0; color: #777777; } 
    .item b p { cursor: pointer; }
     .item b p:hover { color: #4CAF50; }


.first{
  width:100%;
  height: 100vh;
  background-image: url(C:\Users\0505r\OneDrive\Desktop\covid\forntend\frontend\assest\5382378.jpg);
  background-repeat: repeat-y;
  background-size: cover;

}
.sign{
  width:100%;
  height: 100vh;
  background-image: url(C:\Users\0505r\OneDrive\Desktop\covid\forntend\frontend\assest\6471562.jpg);
  background-repeat: repeat-y;
  background-size: cover;

}
.sign {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
 }
 
 .outlet {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
 }
 
 form {
  display: flex;
  flex-direction: column;
  width: 100%;
 }
 
 .item {
  display: flex;
  flex-direction: column;
  width: 100%;
 }
 
 h1 {
  text-align: center;
  margin-bottom: 20px;
 }
 
 label {
  margin-bottom: 5px;
 }
 
 input {
  padding: 8px;
  margin-bottom: 20px;
  border: 1px solid #cccccc;
  border-radius: 5px;
 }
 
 #create-btn {
  padding: 10px;
  margin-top: 10px;
  background-color: #15c9d6;
  color: rgb(26, 24, 24);
  border: none;
  border-radius: 5px;
  cursor: pointer;
 }
 
 #create-btn:hover {
  background-color: #20a8c7;
 }
 
 @media screen and (max-width: 600px) {
  .sign {
     height: auto;
  }
 
  .outlet {
     width: 90%;
  }
 }
 .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 30px;
  background-color: #4a774e;
}

.navlist {
  display: flex;
  justify-content:flex-end;
  align-items: center;
  width: 100%;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

.contmain {
  display: flex;
 
  align-items: center;
  width: 100%;
}

label,
input,
button {
  margin: 10px;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content button {
  all: unset;
  padding: 12px 16px;
  text-align: left;
  display: block;
  text-decoration: none;
  cursor: pointer;
  width: 80%;
  
}

.dropdown:hover .dropdown-content {
  display: block;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #4CAF50;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2
}

#book-slot {
  margin-top: 20px;
}
#dosbtn{
  background-color: rgb(187, 158, 30);
}
#resetbtn{
  background-color: rgba(203, 73, 29, 0.918);
}
#doscount{
  width: 30px;
}
.bookin{
  width:100%;
  height: 100vh;
  background-image: url(C:\Users\0505r\OneDrive\Desktop\covid\forntend\frontend\assest\top-view-disposable-medical-masks.jpg);
  background-repeat: repeat-y;
  background-size: cover;
  align-items:center;
}
.bookout{
  
  border-radius: 12px;
  box-shadow: 2px 2px 7px rgb(0, 128, 128);
  border: 2px solid black;
  background-color: #c6ced175;
}
.bookin {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #ccc;
}

.booktable {
  padding: 15px;
  display:flex;
  flex-direction: column;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  align-items:flex-start;
}

h2 {
  margin: 0;
  text-align: left;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

#additem{
  position: relative;
  display:flex;
}
#additem input{
  width:200px;
  height: 30px;
}
.add{
  background-color: #eaeaea;
  

}
.remove{
  background-color:#eaeaea ;
}

#abcbtn{
  background-color: palevioletred;
  margin-top: 25%;
  font-size: larger;
  
  
}
#abcbtn:hover{
  background-color: lightblue;
}
.bookbtns{
  display: flex;
}
#cancelbook{
  background-color: rgb(175, 42, 42);
}

#locathead{
  color: #3f493f;
}
